{
    "manifest_version": 3,
    "name": "Bivouac",
    "version": "1.0",
    "theme": {
        "colors": {
            "frame":                [${BG0_RGB}],
            "frame_inactive":       [${BG0_RGB}],
            "toolbar":              [${BG_RGB}],
            "toolbar_text":         [${TEXT_RGB}],
            "toolbar_button_icon":  [${TEXT2_RGB}],
            "tab_text":             [${TEXT_RGB}],
            "tab_background_text":  [${MUTED_RGB}],
            "tab_background_text_inactive": [${MUTED_RGB}],
            "bookmark_text":        [${TEXT2_RGB}],
            "omnibox_background":   [${SURFACE_RGB}],
            "omnibox_text":         [${TEXT_RGB}],
            "ntp_background":       [${BG_RGB}],
            "ntp_text":             [${TEXT_RGB}],
            "ntp_link":             [${ACCENT2_RGB}]
        }
    }
}

