{
    "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
    "logo": {
        "color": { "1": "${MUTED}", "2": "${MUTED}", "3": "${MUTED}" }
    },
    "display": {
        "color": { "keys": "${ACCENT2}", "title": "${ACCENT}" }
    },
    "modules": [
        "title", "separator",
        "os", "host", "kernel", "uptime", "packages", "shell",
        "display", "de", "wm", "theme", "icons", "cursor",
        "terminal", "terminalfont",
        "cpu", "gpu", "memory", "swap", "disk",
        "localip", "locale",
        "break", "colors"
    ]
}
