[colors]
foreground=${TEXT}
background=${BG}
regular0=${BLACK}
regular1=${RED}
regular2=${GREEN}
regular3=${YELLOW}
regular4=${BLUE}
regular5=${MAGENTA}
regular6=${CYAN}
regular7=${WHITE}
bright0=${BBLACK}
bright1=${BRED}
bright2=${BGREEN}
bright3=${BYELLOW}
bright4=${BBLUE}
bright5=${BMAGENTA}
bright6=${BCYAN}
bright7=${BWHITE}
selection-foreground=${TEXT}
selection-background=${OVERLAY}
cursor=${BG} ${ACCENT}
urls=${ACCENT2}
