@define-color accent_color      ${ACCENT};
@define-color accent_bg_color   ${ACCENT};
@define-color accent_fg_color   ${BG0};

@define-color window_bg_color   ${BG};
@define-color window_fg_color   ${TEXT};
@define-color view_bg_color     ${BG0};
@define-color view_fg_color     ${TEXT};

@define-color headerbar_bg_color       ${BG0};
@define-color headerbar_fg_color       ${TEXT};
@define-color headerbar_backdrop_color ${BG0};
@define-color headerbar_border_color   ${SURFACE};

@define-color sidebar_bg_color  ${BG0};
@define-color sidebar_fg_color  ${TEXT2};

@define-color card_bg_color     ${SURFACE};
@define-color card_fg_color     ${TEXT};
@define-color dialog_bg_color   ${SURFACE};
@define-color dialog_fg_color   ${TEXT};
@define-color popover_bg_color  ${SURFACE};
@define-color popover_fg_color  ${TEXT};

@define-color destructive_color    ${RED};
@define-color destructive_bg_color ${RED};
@define-color error_color          ${RED};
@define-color warning_color        ${YELLOW};
@define-color success_color        ${GREEN};
