font=Maple Mono NF 10
anchor=top-right
width=360
height=160
margin=14
padding=12,14
border-size=1
border-radius=10
max-icon-size=32
default-timeout=6000

background-color=${SURFACE}
text-color=${TEXT}
border-color=${OVERLAY}
format=<span color="${TEXT}">%s</span>\n<span color="${TEXT2}">%b</span>

[urgency=low]
border-color=${SURFACE}

[urgency=critical]
border-color=${RED}
default-timeout=0
