image=DP-1:~/Images/wallpapers/howl011.jpg
scaling=fill
color=${BG0}

font=Maple Mono NF
font-size=22
indicator-radius=90
indicator-thickness=4
indicator-x-position=1500
indicator-y-position=540

inside-color=${SURFACE}cc
ring-color=${OVERLAY}
text-color=${TEXT}
key-hl-color=${ACCENT}
bs-hl-color=${TEXT2}
line-color=00000000
separator-color=00000000

inside-ver-color=${SURFACE}cc
ring-ver-color=${ACCENT2}
text-ver-color=${ACCENT2}

inside-wrong-color=${SURFACE}cc
ring-wrong-color=${RED}
text-wrong-color=${RED}

inside-clear-color=${SURFACE}cc
ring-clear-color=${TEXT2}
text-clear-color=${TEXT2}

inside-caps-lock-color=${SURFACE}cc
ring-caps-lock-color=${YELLOW}
text-caps-lock-color=${YELLOW}
caps-lock-key-hl-color=${ACCENT}
caps-lock-bs-hl-color=${TEXT2}

show-failed-attempts
ignore-empty-password
