@define-color bg0      ${BG0};
@define-color bg       ${BG};
@define-color surface  ${SURFACE};
@define-color overlay  ${OVERLAY};
@define-color text     ${TEXT};
@define-color text2    ${TEXT2};
@define-color muted    ${MUTED};
@define-color accent   ${ACCENT};
@define-color accent2  ${ACCENT2};
@define-color red      ${RED};
@define-color yellow   ${YELLOW};
